
<nav class="navbar">
  <div>
    <button   
    class="btn toggleMenu"
    (click)="pageStatusService.menuToggle()"
    >menu</button>
    <h1>
      <a class="title" [routerLink]="['/']">TodoList</a>
    </h1>
  </div>
</nav>

<div class="content">

  <div class="menu" [class.menuOpen]="pageStatusService.getStatus('menu')" > 
    <div class="btnCont">
      <button class="btn" [routerLink]="['/add']"> Добавить дело</button>
    </div>
    <div class="search">
      <input class="search-input" [(ngModel)]="pageStatusService.searchInput"  placeholder="Найти..." type="text">
      <div class="search-img"></div>
    </div>
    <div class="qwe">
        <div class="sort"  (click)="pageStatusService.sortToggle()">Соритровка...</div>
        <ul 
        class="ulList" 
        [class.sortOpen]="pageStatusService.getStatus('sort')"
        (click)="pageStatusService.sortToggle()"
        (click)="pageStatusService.settChange($event)"
        >
          <li *ngFor="let sett of sortArr; let ind = index">
            <div class="divLi" id="{{sett.value}}">
              <i [class.active]="ind === 0"></i>
              <span>{{sett.text}}</span>
            </div>
          </li>
        </ul>
    </div>
    <div class="todoList">
      <div *ngFor="let todo of todoArr  | search:pageStatusService.getStatus('search') | sort: pageStatusService.getStatus('sett')">
        <div  class="todo" appTodoStyle bg="{{todo.bgColor}}"> 
          <a  routerLinkActive="active" [routerLink]="['/todo', todo.id]"> 
            <strong>{{todo.title}}</strong> 
          </a>
        </div>
      </div>
    </div>
  
    <div class="settings">
  -----------------------------------------
    </div>
  </div> 

  <div class="container" [class.contentOpen]="pageStatusService.getStatus('menu')">
    <div class="card">   
      <router-outlet></router-outlet>
    </div>
  </div> 

</div>




<!-- <app-modal 
  *ngIf="pageStatusService.getStatus('modal')"
></app-modal> -->

